<div class = "about-page">
  <div class="col-md-6" >
    <h1>
      Help
    </h1>

    <p>
      The app was designed to help groups of movie watchers find movie selection
      consensus. Movie selection is inherently inefficient, as each viewer does
      not poll and volunteer their thoughts equally in the movie selection process.
      <br>
      Each viewer is shown the same 20 movies and votes on them independently before 
      the final movies are aggregated.
    </p>


  </div>
</div>
