<header class="navbar navbar-transparent">
  <div class="container">
    <%= link_to "FLICKY", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help",   '/static_pages/help' %></li>
        <li><%= link_to "About", '/static_pages/about'%></li>
      </ul>
    </nav>
  </div>
</header>
